/* style.css */
@charset "UTF-8";
@import "reset.css";
@import "cores.css";
@font-face {
    font-family: Exército ;
    src: url(fonts/Capture_it.ttf) format("truetype");
}
body{
    font-family: Exército;
    color: var(--cor0);
}


