/* style.css */
@charset "UTF-8";
@import "reset.css";
@import "cores.css";
@font-face {
    font-family: Exercito ;
    src: url(fonts/font_exercito/Capture\ it.ttf) format("truetype");
}
body{
    font-family: Exercito;
    color: var(--corletra);
    background-color: var(--light-blue);

}
header{
    color: var(--corheader);
    background-color: var(--intense-cherry);
}
hr{
    border: 1px solid var(--corletra);
}
.menu-principal{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
li, a, nav ul{
    color: var(--corletra);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
.turmas{
    color: var(--corturmas);
    background-color: var(--cerulean);
}
section{
    color:var(--corsection);
    background-color: var(--corsection);
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}
            

h1, h2 {
    text-align: center;
}
